//- Bottom HUD: stats, portrait, weapon, keys.

.hud#hudRoot
  .hud-block
    .hud-value#hudHealthValue 100%
    .hud-label HEALTH
  .hud-block
    .hud-value#hudArmorValue 0%
    .hud-label ARMOR
  .hud-face
    canvas#hudPortrait(width="128" height="96")
  .hud-block.hud-weapon
    .hud-weapon-row
      .hud-weapon-title WEAPON
      .hud-weapon-value#hudWeaponValue -
    .hud-weapon-row
      .hud-weapon-title AMMO
      .hud-weapon-value#hudAmmoValue 50
  .hud-block
    .hud-value#hudMedsValue 0
    .hud-label MEDS
  .hud-block
    .hud-value#hudDocsValue 0
    .hud-label DOCS
  .hud-block
    .hud-value#hudArtifactsValue 0
    .hud-label ARTIFACTS
  .hud-keys.hud-block
    .hud-keys-row
      img.hud-key#hudKeyGold(src=assets.goldKey)
      img.hud-key#hudKeySilver(src=assets.silverKey)
      img.hud-key#hudKeyBlood(src=assets.bloodKey)
    .hud-label KEYS
