//- Main menu, death modal and note overlay.

.menu#menuRoot
  .menu-box
    .menu-title PALATA
    .menu-subtitle Soviet psychiatric horror
    .menu-buttons
      #menuDifficulty
      #menuLevels

.menu.menu--death#deathRoot(style="display: none")
  .menu-box
    .menu-title#deathTitle You Die
    .menu-epitaph#deathEpitaph
    .menu-subtitle The ward keeps its patients
    .menu-buttons
      button.btn#deathRestartBtn(type="button") Restart

.note#noteRoot(style="display: none")
  .note-box
    .note-title#noteTitle
    .note-text#noteText
    .note-hint Press E or Esc to close
